extends layout

block content
	div(id='content')
		div(id='olMask')
			img(src='/public/img/ajax-loader2.gif')
		h2(class="redHeading") Select an office:
		div(id='mapContainer')
		div(id='staffList')