<div class='filter-bar'>
    <div id='form'>
        <form class='filterform'>
            <input id='filterInput' class='filterinput' type='text' placeholder='Search name or department'>
        </form>
    </div>
    <ul class='people filter-results clearfix' id='list'>
    </ul>
</div>